@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');

/* @font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.google.com/specimen/Montserrat');
  font-weight: 700;
  font-style: normal;
} */
/* //FONTS DO NOT WORK I DONT KNOW WHY */
/* FONTS NOW WORK, I HAD TO GO TO THE GOOGLE FONTS WEBSITE, CHOOSE A FONT WEIGHT, THEN CLICK AND FIND THE "fonts.googleapis.com" URL, that is the correct way to import via CSS*/

body {
  background-color: rgb(247, 247, 255);
  font-family: 'Montserrat', sans-serif;
}
.App {
  text-align: center;
  background-image: url("/public/images/bg-top.svg"); 
  background-repeat: no-repeat;
  background-position: right top;
  display: flex;
  flex-direction: column;
  align-items: center;
}


h1, h3 {
  color: hsl(233, 13%, 49%);
}
li, ul {
  list-style:none;
  padding: 0;
  margin: 0;
}

ul {
  border-top: 1px solid hsl(234, 14%, 74%);
  line-height: 50px;
}
li {
  border-bottom: 1px solid hsl(234, 14%, 74%);
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: white;
  /* border: 2px solid blue; */
  border-radius: 2%;
  width: 20vw;
  display: flex;
  flex-direction: column;
  padding: 10%;
  font-weight: 700;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 1px rgb(73 74 95 / 30%);
}

/*REMOVING DEFAULTS*/
button, button:focus{
  outline: none;
  background: transparent;
  border: 1px solid transparent;
}

button:active{
  outline: none;
  background: transparent;
  border: 1px solid grey;
}

button {
  background-color: hsl(232, 13%, 33%);
}
         
.btn-grad {
  background: hsl(236, 72%, 79%);
  background: linear-gradient(to right, hsl(236, 72%, 79%) 0%, hsl(237, 63%, 64%)  100%);
  margin: 10px;
  padding: 15px 35px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  font-weight: 700;
}
.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.btn-grad:active {
  color: hsl(237, 39%, 53%);
}

.price {
  font-size: 50px;
  color: rgb(73, 74, 95);
}

.professional {
  background: hsl(236, 72%, 79%);
  background: linear-gradient(to right, hsl(236, 72%, 79%) 0%, hsl(237, 63%, 64%)  100%);
  color: white;
}
.professional > * {
  color: white;
}
.professional > .btn-grad {
  background: white;
  color: hsl(237, 39%, 53%)
}
.professional > .btn-grad:hover {
  color: #fff;
  text-decoration: none;
  background: hsl(236, 72%, 79%);
  background: linear-gradient(to right, hsl(236, 72%, 79%) 0%, hsl(237, 63%, 64%)  100%);
  border: 1px solid white;
}
.professional > ul {
  border-top: 1px solid hsl(240, 78%, 98%);
  line-height: 50px;
}
.professional > li {
  border-bottom: 1px solid hsl(240, 78%, 98%);
}

@media only screen and (min-width: 1440px) {
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
  }
  .card {
    padding: 6%;
    height: 400px;
  }
  .professional {
    height: 450px;
  }
}

/*

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */
